@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

@theme {
  --color-primary: #0BCCB4;
  --color-brand-primary: #0BCCB4;
  --color-brand-dark: #111827;
  --color-brand-light: #F3F4F6;
  --color-brand-white: #FFFFFF;

  --font-sans: "Inter", sans-serif;
  --font-display: "Oswald", sans-serif;
}

/* Custom Industrial Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0BCCB4; /* Brand Primary */
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #09a18f;
}
